<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let character of characters">
        <app-profile [character]="character"></app-profile>
      </div>
    </div>
  </div>
</div>
