<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Episodes featuring {{ currentCharacter.name }}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closePopup()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body episodes-list">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let episode of episodes">{{ episode.episode }} - {{ episode.name }}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="closePopup()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="closePopup()">Ok</button>
</div>
