<div class="card mb-4 shadow-sm">
  <img class="card-img-top" [src]="character.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ character.name }}</h5>
    <p>{{ character.species }} - <span [class]="'status ' + character.status"></span>{{ character.status }}, {{ character.gender }}</p>
    <a class="card-link" (click)="getCharacterLocationInfo(character)">{{ character.location.name }}</a>
  </div>
  <div class="card-body">
    <a class="card-link" (click)="openEpisodesModal(character)">Get Episodes</a>
  </div>
</div>
