.status {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.Alive.status {
  background-color: green;
}

.Dead.status {
  background-color: crimson;
}
